@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media screen and (max-width: 720px) {
    font-size: 52%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  color: #fff;
  font-size: 1.6rem;
  background-color: rgb(17, 24, 39);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
