.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "X";
    color: #042c04;
    font-size: 5rem;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 2%;
    font-weight: 400;
    transform: translate(-50%, -50%);
  }
}

.games {
  padding: 0 2rem;
  flex-grow: 1;
  &__name {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  &__rating {
    font-size: 1.4rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
  }
  &__item {
    position: relative;
  }
  &__overlay {
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.search-input {
  font-family: inherit;
  padding: 1rem 0.8rem;
  outline: none;
  border: none;
}

.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  all: unset;
  cursor: pointer;
  margin-right: 2rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    top: 100%;
    transform: scaleX(0);
    background-color: #107c10;
    transition: all 0.2s;
  }
  &:hover {
    color: #107c10;
    &:after {
      transform: scaleX(1);
    }
  }
}
